@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	
}

a {
	text-decoration: none;
} */

.app {
  background: var(--light-color);
}
.divShow {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: scaleY(1) scaleX(1);
}
.divHide {
  transform: scaleY(0) scaleX(0);
}

.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chatContainer {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatSidebar {
  list-style: none;
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
  margin: 0;
}

.chatSidebarH3 {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.chatSidebarLi {
  padding: 10px;
}

.chatSelected {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}
.chatMessages {
  /* padding: 30px; */
  max-height: 500px;
  overflow-y: scroll;
  position: relative;
}

.chatMessage {
  margin: 30px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chatTitle {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chatSpan {
  color: #777;
}

.chatFormContainer {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.chatForm {
  display: flex;
}

.chatFormContainer input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chatMain {
    display: block;
  }
  .chatMessages {
    min-height: 400px;
  }
  .chatSidebar {
    display: none;
  }
}
